

h1 {
  font-size: 24px;
  margin-bottom: 20px;
}
.wrapper{
  display: flex;
  width: 100%;
  padding: 20px  20px;
  justify-content: space-between;
  gap: 120px;
  align-items: flex-start; 
 height: 100%;
}

#editor {
  width: 90%;
  max-width: 600px;
  height: 600px;
  min-height: 200px;
  flex-grow: 1;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  background-color: #fff;
  resize: vertical;
}

#preview {
  flex-grow: 1;
  width: 90%;
  max-width: 600px;
  min-height: 200px;
  max-height: 600px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #fff;

  overflow-y: scroll;
}
